@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 95%;
    --foreground: 220 10% 40%;
    --card: 220 13% 95%;
    --card-foreground: 220 10% 40%;
    --popover: 220 13% 95%;
    --popover-foreground: 220 10% 40%;
    --primary: 211 39% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 90%;
    --secondary-foreground: 220 10% 23%;
    --muted: 220 13% 90%;
    --muted-foreground: 220 7% 50%;
    --accent: 180 70% 60%;
    --accent-foreground: 220 10% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 90%; /* Dark shadow component */
    --input: 220 13% 90%;
    --ring: 211 39% 45%;
    --light-shadow: 0 0% 100%; /* Light shadow component */
    --radius: 0.8rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 220 10% 15%;
    --foreground: 220 10% 85%;
    --card: 220 10% 15%;
    --card-foreground: 220 10% 85%;
    --popover: 220 10% 15%;
    --popover-foreground: 220 10% 85%;
    --primary: 180 70% 60%;
    --primary-foreground: 220 10% 15%;
    --secondary: 220 10% 25%;
    --secondary-foreground: 220 10% 95%;
    --muted: 220 10% 25%;
    --muted-foreground: 220 7% 60%;
    --accent: 211 39% 45%;
    --accent-foreground: 220 10% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 10%; /* Dark shadow component */
    --input: 220 10% 25%;
    --ring: 180 70% 60%;
    --light-shadow: 220 10% 20%; /* Light shadow component for dark mode */
    --radius: 0.8rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
